<!DOCTYPE html>
    {{>head}}
    {{>logo}}
    <section id="main">
        <video controls src="https://clippyclub.b-cdn.net/clipstrclub.mp4"></video>

        <h3>Clipstr</h3>
        <p>noun</p>
        <p>Someone who excels at making video clips or short video content, often shared on social media platforms.</p>


        <b><a href="/create">Get Started</a></b>
    </section>
    <br />
    <hr />
    {{>sitemap}}
</html>