<!DOCTYPE html>
    {{>head}}
    {{>logo}}
    <section id="main">
            <h3>Cookie Policy</h3>

            <p>
                {{siteTitle}} uses technical cookies to store your session data in your browser. This session data is sent to our servers when you interact with the website so you don't have to log in on every visit.
            </p>



    </section>
    {{>sitemap}}
</html>