<!DOCTYPE html>
    <section id="main">
        
    </section>
    <script
        src="https://nostri.chat/public/bundle.js"
        data-chat-type="DM"
        data-website-owner-pubkey="6e70756231736a74336e6439796d396a36386a6a3866677a32303238616d637771773039613479386c757772396635687171616334667a3373776767376e73"
        data-relays="wss://relay.f7z.io,wss://nos.lol,wss://relay.nostr.band"
    ></script>
    <link rel="stylesheet" href="https://nostri.chat/public/bundle.css">
</html>