<!DOCTYPE html>
    {{>head}}
    {{>logo}}
    <body>
        <section id="main">
            <h1>{{ siteTitle }}</h1>
            <p><i>Create video compilations of your favorite twitch channel</i></p>
            <video controls src="https://clippyclub.b-cdn.net/clipstrclub.mp4"></video>

            
            <p>To get started, <a href="/login/twitch">Log in via Twitch</a></p>

        </section>
        <hr>
        {{>sitemap}}
        {{>scripts}}
    </body>
</html>
