<!DOCTYPE html>
{{>head}}
{{>logo}}
<section id="main">
    <h3>Login</h3>
    {{#each warning}}
    <blockquote>{{this}}</blockquote>
    {{/each}}

    <b><a href="/login/twitch">Login via Twitch</a></b>
    <br />
    <br />
    <hr />

</section>
{{>sitemap}}
{{>scripts}}

</html>