<!DOCTYPE html>
    {{>head}}
    <section id="main">
        <h3>Privacy Policy</h3>



        <p>Videos you create on {{defaultContext.siteTitle}} may be shown publically on the front page as a demonstration of the service. These are chosen randomly and the creator is anonymized.</p>

        <p>
            {{defaultContext.siteTitle}} collects your user ID when you log in via third party OAuth. This user ID is used to keep track of the compilations you make, which is then displayed back to you as a list. This data is kept secret and only shared with you.
        </p>

    </section>
    {{>sitemap}}
    {{>scripts}}
</html>