<section id="nav">
    <h4>Sitemap</h4>
    <ul>
        <li>
            <a href="#top">[Top]</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/create">Create Compilation</a>
        </li>
        <li>
            <a href="/list">Compilations List</a>
        </li>
        <li>
            <a href="/account">Account</a>
        </li>
        <li>
            <a href="/cookies">Cookie Policy</a>
        </li>
        <li>
            <a href="/privacy">Privacy Policy</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</section>